# Ignore bundler config
/.bundle
 
# Ignore bundled gems
/vendor/bundle

# Ignore sensitive config files
/config/database.yml
/config/config.yml

# Ignore the default SQLite database.
/db/*.sqlite3
 
# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore other unneeded files.
doc/
*.swp
*~
.DS_Store
sqlnet.log
