<header>
  <div id="authenticate">
    <ul>
      <% if signed_in? %>
        <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
      <% else %>
        <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
    </ul>
  </div>
  <a href="/" id="title-link"><h1>Skandies</h1></a>
</header>
