<header>
  <div id="authenticate">
    <ul>
      <% if signed_in? %>
        <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
      <% end %>
    </ul>
  </div>
<h1><%= link_to "Fireman Save My Child", root_path %></h1>
</header>
