<header>
  <div id="authenticate">
    <ul>
      <% if signed_in? %>
        <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
      <% end %>
    </ul>
  </div>
<a href="/" id="title-link"><h1>Fireman Save<br/>My Child</h1></a>
</header>
